main {
  width: 100%;
  margin-top: 60px;
  background: #faf9fa;
  overflow: hidden;

  .home {
    .mainContainer {
      width: 100%;
      height: auto;
      background: #faf9fa;
      padding: 10px;
      padding-bottom: 80px;

      .banner {
        width: 100%;
        height: 130px;
        border-radius: 10px;
        background: url('../../assets/Images/banner.png') no-repeat center;
        background-size: cover;
        position: relative;
        display: flex;
        align-items: center;
        padding: 0 10px;

        .img {
          position: absolute;
          right: -60px;
          bottom: -10px;
          width: 220px;
        }
      }

      .dishcontainer {
        width: 100%;
        padding: 10px 0;

        .menuCart {
          width: 100%;
        }
      }

      .rowContainer {
        display: flex;
        justify-content: space-between;
        overflow-x: scroll;
        overflow-y: hidden;
        margin: 10px 0;
        padding: 10px 0;

        &::-webkit-scrollbar {
          display: none;
        }
      }

      .dishItemContainer {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
      }
    }

    .rightMenu {
      width: 350px;
      height: calc(100% - 55px);
      background: #fff;
      position: fixed;
      right: 0;
      top: 60px;
      z-index: 102;
      display: flex;
      flex-direction: column;
      align-items: center;
      transform: translateX(200%);
      padding: 20px 10px;
      transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.1);

      .addSomeItem{
        width: 100%;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        img{
          width: 100%;
        }
      }

      .debitCardContainer {
        padding: 10px;
        width: 100%;
        height: auto;
        margin-bottom: 10px;

        .debitCard {
          position: relative;
          width: 100%;
          height: 170px;
          min-width: 300px;
          min-height: 170px;
          border-radius: 15px;

          &::before {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #f8901c;
            transform: rotate(5deg);
            border-radius: 15px;
            filter: blur(2px);
            z-index: -1;
          }

          &::after {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(35deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1));
            backdrop-filter: blur(10px);
            z-index: -1;
            border: 1px solid rgba(255, 255, 255, 0.4);
            border-radius: 15px;
          }
        }
      }

      .cartCheckOutContainer{
        width: 90%;
        min-width: 320px;

        .cartContainer{
          width: 100%;
          min-height: 260px;
          max-height: 260px;
          margin-top: 10px;
          overflow-y: scroll;
          overflow-x: hidden;

          &::-webkit-scrollbar{
            display: none;
          }
        }

        .totalSections{
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 5px 8px;
          margin: 15px 0px;

          h3{
            font-size: 1.4rem;
            font-weight: 600;
            color: #2a2b3c;
          }

          p{
            font-weight: bold;
            font-size: 1.2rem;

            span{
              font-size: 1rem;
              color: #f8901c;
            } 
          }
        }

        .checkOut{
          outline: none;
          border: none;
          width: 100%;
          padding: 10px 20px;
          background: #f8901c;
          border-radius: 100vw;
          color: #faf9fa;
          font-size: 1.2rem;
          font-weight: bold;
          letter-spacing: 2px;
        }
      }
    }
  }
}

@media screen and (min-width: 950px) {
  main{
    display: flex;

    .bottomMenu{
      left: 16.3%;
      width: 40%;
    }

    .home{
      .mainContainer{
        width: calc(100% - 350px);
        padding: 10px 30px;

        .banner{
          height: 160px;
        }
      }

      .rightMenu{
        position: fixed;
        z-index: 1;
        transform: translateX(0%);
        padding: 20px 15px;
      }
    }
  }
}

@media screen and (min-width: 950px) {
  main{

    .bottomMenu{
      left: 17.2%;
    }
  }
}